/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

h1, h2, form{
  text-align: center;
}
button{
  display: block;
  margin: 20px auto;
}

h2{
  font-size: 100px;
  color: orange;
  font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
